<script src="https://unpkg.com/web3@latest/dist/web3.min.js"></script>
<script type="text/javascript">

    window.addEventListener("load", async() => {

        window.web3 = new Web3(window.ethereum);
        const accounts = await window.ethereum.send('eth_requestAccounts');

        fetch("artifacts/abi.json")
        .then(response => {
            return response.json();
        })
        .then(abi => {

            var contract = new window.web3.eth.Contract(abi, "[PUT CONTRACT HASH HERE]");

            contract.methods.getPeople().call({from: accounts.result[0]}, function(error, result){

                let names = result[0];
                let ages = result[1];

                let people = [];
                names.map((name, index) => {
                    people.push({
                        name: web3.utils.hexToString(name),
                        age: ages[index]
                    });
                });

                console.log(people);

            });

        });

    });

</script>